
.tab_pane .tabs {
	border: 0px;
	border-bottom: 1px solid #C6D3DE;
	margin: 12px 0px 0px 0px;
	padding: 0px 0px 2px 0px;
	z-index: 10;
	padding-left: 10px;
	white-space: nowrap;
	text-align: left;
	cursor: default;
}

.tab_pane .tabs li {
	display: inline;
	overflow: hidden;
	list-style-type: none; 
}

.tab_pane .tabs a  {
	background: #fafafa;
	border: 1px solid #C6D3DE;
	padding: 2px 5px 2px 5px;
	margin: 0px;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
}

.tab_pane .tabs a.active, .tab_pane .tabs a.active:link {
	background: #ffffff;
	border-bottom: 1px solid #ffffff;
	font-weight: bold;
	cursor: default;
	letter-spacing: -0.07em;
}

.tab_pane .tabs a:hover {
	background: #e2e7ed; 
}

.tab_pane .tabs a.active:hover {
	background: #ffffff;
}

.tab_pane div.tab_pane_page {
	/*background-color: Aqua; si potrebbe gestire un background-color del frame contenuto */
	border: 1px solid #C6D3DE;
	border-top: 0px;
	padding-top: 8px;
	display: block;
	position: relative;
	overflow: auto;
	width:auto !important;
	width:100%;
}

div.tab_pane div.tab_pane_page div.tab_pane {
	margin: 5px;
	margin-top: 0px;
}