h2 {
	text-align: center;
}

body {
	text-align: left;
}

.border {
	border: 1px solid;
}

.border_none {
	border: none;
}

.border_box {
	border: 1px solid black;
}

.border_color1 {
	border-color: black;
}

.border_color2 {
	border-color: black;
}

.border_color3 {
	border-color: black;
}

.border_color4 {
	border-color: black;
}

.border_color5 {
	border-color: black;
}

fieldset {
	border:1px solid black;
}

fieldset legend {
	text-align: center;
}

input {
	border: none;
	border: 1px solid;
}

.row {
	clear: both;
}

label {
	display: block;
}

.frame {
	text-align: left;
}

.table_container table {
	border-collapse: collapse;
	width: 100%
}

.table_container td {
	border-top:1px solid black;
}

.message {
	border: 2px solid red;
	font-weight: bold;
	text-align: center;
	color: black;
}

.message img {
	display: none;
}