/* --------- */
/* HTML TAGS */
/* --------- */

* {
	color:black !important;
}

input:focus {
	background-color:white !important;
	border:none;
	border-bottom:1px solid black;
}

select {
	border-color:1px solid white !important;
	padding:2px;
}

input {
	background-color:white;
	border: none;
	border-bottom: 1px solid black !important;
	margin-right:10px;
	font-size: 8px;
	text-align:left !important;
}

iframe {
	border:none !important;
}

input[type="file"] {
	display:none;
}

fieldset.frame {
	border:1px solid black;
}

th {
	text-align:left !important;
}

.statusBar  {
	display:none;
}

label {
	background:#ddd;
	font-weight:normal !important;
}

.label {
	border:0px;
}

a {
	text-decoration:none;
	color: #000000;
}

body {
	page: landescape;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
}

hr {
 	margin-top:10px;
	margin-bottom:10px;
	border-style:solid;
	width:1px;
	height:1px;
}

img {
	display:none;
}

textarea {
	border: 1px solid #cccccc;
}

/* ----------- */
/* P4A CLASSES */
/* ----------- */

#mainContainer {
	top:0px;
}

#topContainer {
	visibility:hidden;
}

.font3 {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica,sans-serif;
	font-weight:bolder;
	color:#000000;
}

.font4 {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight:bolder;
	color: #000000;
}

.font_normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
}

.background1 {
	background-color: #FCFCFC;
}

.background2 {
	background-color: #EEEEEE;
}

.border {
	border: 1px solid;
}

.border_box {
	border: 1px solid black;
}

.border_color1 {
	border-color: black;
}

.border_color2 {
	border-color: black;
}

.border_color3 {
	border-color: black;
}

.header {
	display:none;
}

.overflow {
	overflow: visible;
}

.image {
	display:block;
}

.no_print {
	display:none;
}

.table_cell {
	white-space: normal;
	text-align: left;
}

.toolbar {
	display:none;
}

.label {
	display:visible;
}

.table_cell {
	padding-top: 7px;
	padding-bottom:7px;
	padding-left: 5px;
}

.textarea {
	border: 1px solid #cccccc;
}

.sheet {
}

.sheet_cell {
	padding-left: 0px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 5px;
}

.message {
	display: none;
}

/*   ----   */
/*   MENU   */
/*   ----   */

#mainMenu {
	display:none;
}
/*
@page rotated {size: landscape}
TABLE {page: rotated; page-break-before: right}
*/