/*************************/
/* Default mask template */
/*************************/

* {
	color: black !important;
}

#p4a_loading,
#p4a_top_container,
#p4a_sidebar_left,
#p4a_sidebar_right {
	display: none;
}

/*************/
/* P4A_Label */
/*************/

.p4a_label {
	background: white;
	border-color: white;
}

/*************/
/* P4A_Field */
/*************/

.p4a_field input,
.p4a_field select {
	border-color: black;
	background: white !important;
}

.p4a_field_file table {
	border: none;
}

.p4a_field_file table button {
	display: none;
}

/***************/
/* P4A_Message */
/***************/

.p4a_message {
	display: none;
}

/*************/
/* P4A_Table */
/*************/

.p4a_table {
	border-color: black;
}

.p4a_table .p4a_table_navigation_bar {
	display: none;
}

.p4a_table_rows1,
.p4a_table_rows2 {
	background: white;
}

/****************/
/* P4A_Fieldset */
/****************/

.p4a_fieldset {
	border-color: black;
}

/****************/
/* P4A_Tab_Pane */
/****************/

.p4a_tab_pane ul.tabs {
	border-bottom: 1px solid black;
}

.p4a_tab_pane ul.tabs a  {
	color: black;
	visibility: hidden;
	background: red;
}

.p4a_tab_pane ul.tabs a.active,
.p4a_tab_pane ul.tabs a.active:link {
	visibility: visible;
	border: 1px solid black;
	border-bottom: 1px solid white;
}

.p4a_tab_pane div.p4a_tab_pane_page {
	border: 1px solid black;
	border-top: none;
}