body {
	font-family: sans-serif;
}

#p4a-footer {
	text-align: center;
	font-size: 80%;
	padding: 5px;
}

#p4a-main-form {
	height: 100%;
	position: relative;
}

.p4a_frame {
	margin: auto;
}

.ext-ie .x-form-element, .ext-ie .x-form-item label, .ext-ie .x-form-check-wrap input,
.ext-ie .x-form-field-wrap, .ext-ie .x-form-trigger {
	position: static;
}

.ext-ie .x-form-field-wrap, .ext-ie .x-form-trigger {
	vertical-align: middle;
}