/***************/
/* P4A CLASSES */
/***************/

body {
	height: 100%;
	width:100%;
	padding:0px;
	margin:0px;
	border:0px;
}

#sheetContainer>* {
	margin-left:auto;
	margin-right:auto;
}

#topContainer {
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: 2;
}

*>#topContainer {
	position: fixed;
}

#top {
	background-color: #FAFAFA;
	border-bottom: 1px solid #CCC;
	padding: 2px;
	clear: both;
}

#mainContainer {
	width: 100%;
	position: absolute;
	text-align: center;
}

#footerContainer {
	clear: both;
	text-align: center;
	margin-top: 10px;
}

* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4B718A;
}

.img_button {
	display: inline;
	vertical-align: middle;
	border: 1px solid #FAFAFA;
	padding-left:3px;
	padding-right:3px;
	padding:3px;
	border:none;
}

.link_button {
	border: 1px solid #FAFAFA;
	display:block;
	text-decoration:none;
	text-align:center;
}

a.link_button:hover {
	border: 1px solid #C6D3DE;
	background:white;
}

.radio {
	border: none;
}

.button {
}

.border {
	border: 1px solid;
}

.border_none {
	border: none;
}

.border_box {
	border: 1px solid #C6D3DE;
}

.color1 {
	color: #C6D3DE;
}

.color2 {
	color: #B8C6D2;
}

.color3 {
	color: #75C3E0;
}

.border_color1 {
	border-color: #C6D3DE;
}

.border_color2 {
	border-color: #B8C6D2;
}

.border_color3 {
	border-color: #75C3E0;
}

.border_color4 {
	border-color: #CCCCCC;
}

.border_color5 {
	border-color: #4B718A;
}

.background_box {
	background-color: #FAFAFA;
}

.background1 {
	background-color: #F4F7FA;
}

.background2 {
	background-color: #E2E7ED;
}

.background3 {
	background-color: #FAFAFA;
}

.background4 {
	background-color: #FcFcFc;
}

.font3 {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica,sans-serif;
	font-weight:bolder;
	color:#588FA3;
}

.font4 {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica,sans-serif;
	font-weight:bolder;
	color: #4B718A;
}

.font_normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#4B718A;
}

.link {
	text-decoration:underline;
	color: #4B718A;
}

.align_left {
	text-align:left;
}

.align_center {
	text-align:center;
}

.align_right {
	text-align:right;
}

.clickable {
	cursor:pointer;
}

.no_wrap {
	white-space: nowrap;
}

.label {
	overflow: visible;
	display:block;
	text-align: left;
	padding:1px;
	padding-left:6px;
	background:#fcfcfc;
	border:1px solid #fafafa;
	cursor:pointer;
	float: left;
	padding-right: 1em;
	width: 100px;
}

.table_cell, .table_cellclickable {
	white-space: normal;
	text-align: left;
}

.table_cellclickable:hover {
	text-decoration: underline;
}

.sheet_cell {
	padding-left: 0px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 5px;
}

.table_container a {
	text-decoration: none;
}

.toolbar input {
	font-weight: normal;
	margin-top: 10px;
	margin-right: 10px;
}

.hidden {
	display: none;
}

.field_error label {
	color:red;
}

.field_error input,
.field_error textarea,
.field_error select,
.field_error iframe {
	border:1px dashed red;
}

.field_error .field_error_msg {
	clear:both;
	text-align:right;
	color:#777;
}

/*************/
/* HTML TAGS */
/*************/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4B718A;
}

form {
	display: inline;
}

h2 {
	text-align:center;
	font-size: 16px;
}

hr {
 	margin-top:10px;
	margin-bottom:10px;
	border-style:solid;
	width:1px;
	height:1px;
}

img {
	display: block;
}

input {
	border: none;
	border: 1px solid;
}

input:focus{
 	border: 1px solid #000000;
	color: #000000;
	background-color: #F0F0F0;
}

textarea {
	border: 1px solid #C6D3DE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#4B718A;
}

textarea:focus {
 	border: 1px solid #000000;
	color: #000000;
	background-color: #F0F0F0;
}

.mceToolbarTop *, .mceToolbar * {
	display:inline;
}

.mceToolbarTop select *, .mceToolbar select * {
	display:block;
}

select {
	border: 1px solid #C6D3DE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#4B718A;
}

#p4a_loading {
	background: red;
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 100;
	padding: 5px;
	float: right;
}

*>#p4a_loading {
	position: fixed;
}

#p4a_loading img {
	float: left;
	margin-right: 10px;
}

/***********************************************************/
/* MENU WIDGET                                             */
/* original code by Justin Koivisto - http://www.koivi.com */
/***********************************************************/

#menu {
	background: #fafafa;
	border-bottom: 1px solid #ccc;
}

.p4a_menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: static;
	z-index: 20;
}

.p4a_menu .accesskey {
	color: black;
}

.p4a_menu li {
	float: left;
	background: #fafafa;
	margin-left: 10px;
	display: block;
	color: black;
}

.p4a_menu ul {
	position: absolute;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: none;
	background-color: #fafafa;
	z-index: 40;
	border: 1px solid #ccc;
	width: 120px;
}

.p4a_menu ul li {
	width: 120px;
	margin: 0;
}

.p4a_menu li a, .p4a_menu li div {
	display: block;
	text-decoration: none;
	color: black;
	margin: 0;
	padding: 5px;
}

.p4a_menu a:hover, .p4a_menu li:hover {
	display: block;
	background-color: #e2e7ed;
}

.p4a_menu ul ul{
	display: none;
	margin-top: -2em;
	margin-left: 120px;
}

.p4a_menu li:hover ul ul,
.p4a_menu li:hover ul ul ul,
.p4a_menu li:hover ul ul ul ul,
.p4a_menu li:hover ul ul ul ul ul{
	display:none;
}

.p4a_menu li:hover ul,
.p4a_menu ul li:hover ul,
.p4a_menu ul ul li:hover ul,
.p4a_menu ul ul ul li:hover ul,
.p4a_menu ul ul ul ul li:hover ul{
	display:block;
}

/*******************/
/* END MENU WIDGET */
/*******************/

.message {
	width: 300px;
	font-weight: bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.message dt {
	display: table-cell;
	vertical-align: middle;
}

.message dd {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	color: black;
}

#sidebar {
	border: 1px solid #CCC;
	position: fixed;
	top: 70px;
	bottom: 10px;
 	right: 0px;
 	height: 600px;
	padding: 10px;
	width: 280px;
 	z-index: 2;
}

div.frame {
	padding: 0px;
}

.row {
	clear: both;
}

.br {
	clear: both;
}

fieldset.frame {
	border: 1px solid #C6D3DE;
	padding: 10px 10px 10px 0px;
}

legend {
	font-weight: bold;
	font-size: 12px;
	margin-left: 10px;
}

/*********/
/* TABLE */
/*********/

.table {
	margin: 5px 20px 0px 2px;
	border-collapse: collapse;
	width: inherit;
}

.table th a {
	margin: 5px;
}

.table th a, .table td a {
	display: block;
}

.table caption{
	font-size: 12px;
	font-weight: bold;
	margin: 5px;
}

.table .select {
	width: 19px;
}

.table td{
	padding: 2px;
	border: 2px solid white;
}

.table td.action {
	background:#fafafa;
}
.table td a {
	display:block;
	width:100%;
}
.table td.integer,
.table td.decimal,
.table td.float,
.table td.date,
.table td.time{
	text-align: right;
	white-space: nowrap;
}

.table_container {
	font-size:8px; /* with &nbsp to solve bug on ie on margin-bottom of table */
}

.table_container .frame{
	border-top: 1px solid #C6D3DE;
	background: #fafafa;
}

.table_container .row{
	background: #fafafa;
}

.accesskey {
	text-decoration: underline;
}

/****************/
/* DB NAVIGATOR */
/****************/
.p4a_db_navigator {
	text-align: left;
	font-weight: normal;
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

.p4a_db_navigator ul {
	padding-left: 15px;
}

.p4a_db_navigator a, .p4a_db_navigator {
	text-decoration: none;
}

.p4a_db_navigator a:hover {
	text-decoration: underline;
}

.p4a_db_navigator .active_node {
	font-weight: bold;
}

.p4a_db_navigator .hoverclass a {
	color: red;
	font-weight: bold;
}

.p4a_db_navigator .hoverclass li a {
	color: #4B718A;
	font-weight: normal;
}

/*********/
/* POPUP */
/*********/

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	background-color: #000;
	filter:alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}

#popup {
	position: absolute;
	top: 0;
	left: 0;
	margin:auto;
	padding:20px;
	background:white;
	z-index: 100;
	text-align: center;
}