/*   --------------   */
/*   MERLIN CLASSES   */
/*   --------------   */

* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4B718A;
}

.img_button {
	border: 1px solid #FAFAFA;
	border:none;
}

.img_button:hover {
	border: 1px solid #C6D3DE;
	border:none;
}
.link_button {
	border: 1px solid #FAFAFA;
	display:block;
	text-decoration:none;
	text-align:center
}

.link_button:hover {
	border: 1px solid #C6D3DE;
}

.radio {
	border: none;
}

.button {
}

.border {
	border: 1px solid;
}

.border_box {
	border: 1px solid #C6D3DE;
}

.color1 {
	color: #C6D3DE;
}

.color2 {
	color: #B8C6D2;
}

.color3 {
	color: #75C3E0;
}

.border_color1 {
	border-color: #C6D3DE;
}

.border_color2 {
	border-color: #B8C6D2;
}

.border_color3 {
	border-color: #75C3E0;
}

.border_color4 {
	border-color: #CCCCCC;
}

.border_color5 {
	border-color: #4B718A;
}

.background_box {
	background-color: #FAFAFA;
}

.background1 {
	background-color: #F4F7FA;
}

.background2 {
	background-color: #E2E7ED;
}

.font3 {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica,sans-serif;
	font-weight:bolder;
	color:#588FA3;
}

.font4 {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica,sans-serif;
	font-weight:bolder;
	color: #4B718A;
}

.font_normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#4B718A;
}

.link {
	text-decoration:underline;
	color: #4B718A;
}

.align_left {
	text-align:left;
}

.align_center {
	text-align:center;
}

.align_right {
	text-align:right;
}

.clickable {
	cursor:pointer;
}

.field{
	float:left;
}

.field_container {
	float:left;
}

.no_wrap {
	white-space: nowrap;
}

.overflow {
	overflow: auto;
}

.label {
	overflow: visible;
	display:block;
	text-align: left;
}

.table_cell {
	white-space: normal;
	text-align: left;
}

.table_cell:hover {
	text-decoration: underline;
}

.sheet_cell {
	padding-left: 0px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 5px;
}

/*   ---------   */
/*   HTML TAGS   */
/*   ---------   */

BODY
{
	SCROLLBAR-FACE-COLOR: #C6D3DE;
	SCROLLBAR-HIGHLIGHT-COLOR: #C9CFD6;
	SCROLLBAR-SHADOW-COLOR: #F7F7FF;
	SCROLLBAR-3DLIGHT-COLOR: #F7F7FF;
	SCROLLBAR-ARROW-COLOR: #F7F7FF;
	SCROLLBAR-TRACK-COLOR: #C6D3DE;
	SCROLLBAR-DARKSHADOW-COLOR: #DCEAF9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4B718A;
}

FORM {
	display: inline;
}

H2 {
	text-align:center;
	font-size: 16px;
}

HR {
 	margin-top:10px;
	margin-bottom:10px;
	border-style:solid;
	width:1px;
	height:1px;
}

IMG {
	display: block;
}

INPUT{
	border: none;
	border: 1px solid;
}

INPUT:focus{
 	border: 1px solid #000000;
	color: #000000;
	background-color: #F0F0F0;
}

.mainmenuSel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight:bolder;
	font-size: 10px;
	color: #255587;
}

TEXTAREA{
	border: 1px solid #C6D3DE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#4B718A;
}

TEXTAREA:focus{
 	border: 1px solid #000000;
	color: #000000;
	background-color: #F0F0F0;
}

SELECT{
	border: 1px solid #C6D3DE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#4B718A;
}
/*
SELECT:focus{
	border: 1px solid;
	background-color: #F0F0F0;
}
*/
/*   ----   */
/*   MENU   */
/*   ----   */
.LinkMainMenu border {
	1px solid red;
}

.LinkMainMenu:link
{
	font-size: 11px;
    COLOR: #B7C0C9;
    TEXT-DECORATION: none
}

.LinkMainMenu:visited, .LinkMainMenu:active
{
	font-size: 11px;
    COLOR: #B7C0C9;
    TEXT-DECORATION: none
}

.LinkMainMenu:hover
{
	font-size: 11px;
    COLOR: #255587;
    TEXT-DECORATION: none
}

.LinkSecondMenu:link, .LinkSecondMenu:visited, .LinkSecondMenu:active
{
	font-size: 10px;
    COLOR: #255587;
    TEXT-DECORATION: none
}

.LinkSecondMenu:hover
{
	font-size: 10px;
    COLOR: #255587;
    TEXT-DECORATION: underline
}

.LinkCalendarDayMonview
{
	color:red;
	text-decoration:none;
	display:block;
	border:none;
}
.LinkCalendarDayMonview:hover
{
/*	border:1px solid #4B718A;  */
}

.LinkCalendarAppMonview
{
	text-decoration:none;
	display:block;
	background-color:white;
	padding:3px;
}
.LinkCalendarAppMonview:hover
{
	background-color: #F4F7FA;
}
.CalendarTimeAppMonview{
	font-weight:bold;
	font-size:9px;
	font-family:monospace;
}

.CalendarThAppMonview{
	border-color:#4B718A;
}

.CalendarTdAppMonview{
	border-color:#4B718A;
}

.CalendarTdAppMonview:hover{
	background-color:#E2E7ED;
}

.CalendarTableMonview{
	border-collapse:collapse;
}

.navigator {
	margin-left: 0px;
	list-style-image: url("/MerlinWork/themes/default/widgets/menu_drop_down/images/dir.png");
}

.navigator ul {
	margin-left:0px;
	padding-left:15px;
	list-style-position:inside;
	list-style-image: url("/MerlinWork/themes/default/widgets/menu_drop_down/images/dir.png");
}


.navigator a {
	text-decoration:none;
}

.navigator a:hover {
	text-decoration:underline;
}

.navigator .active_node {
	font-weight:bold;
}

dl {
	float:left;
	text-align:center;
}

dl *{
	display:inline;
}

dl, dl *{
	padding:0px;
	margin:0px;
	font-size:10px;
}

dl img {
	vertical-align:middle;
	border:none;
}

dd {
}

dd.dd_inline {
	display:inline;
	margin-left:5px;
}

dd.dd_block {
	display:block;
}