/***************/
/* P4A CLASSES */
/***************/

body {
	height: 100%;
	width:100%;
	padding:0px;
	margin:0px;
	border:0px;
}

#sheetContainer>* {
	margin-left: auto;
	margin-right: auto;
}

#topContainer {
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: 2;
}

*>#topContainer {
	position: fixed;
}

#top {
	background-color: #fafafa;
	border-bottom: 1px solid #ccc;
	padding: 2px;
	clear: both;
}

#mainContainer {
	text-align: center;
	padding-top: 5px;
}

#footerContainer {
	clear: both;
	text-align: center;
	margin-top: 10px;
}

* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4b718a;
}

/*
.border {
	border: 1px solid;
}

.border_none {
	border: none;
}

.border_box {
	border: 1px solid #C6D3DE;
}

.color1 {
	color: #C6D3DE;
}

.color2 {
	color: #B8C6D2;
}

.color3 {
	color: #75C3E0;
}

.border_color1 {
	border-color: #C6D3DE;
}

.border_color2 {
	border-color: #B8C6D2;
}

.border_color3 {
	border-color: #75C3E0;
}

.border_color4 {
	border-color: #CCCCCC;
}

.border_color5 {
	border-color: #4B718A;
}

.background_box {
	background-color: #FAFAFA;
}

.background1 {
	background-color: #F4F7FA;
}

.background2 {
	background-color: #E2E7ED;
}

.background3 {
	background-color: #FAFAFA;
}

.background4 {
	background-color: #FcFcFc;
}

.font3 {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica,sans-serif;
	font-weight:bolder;
	color:#588FA3;
}

.font4 {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica,sans-serif;
	font-weight:bolder;
	color: #4B718A;
}

.font_normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#4B718A;
}
*/

.align_left {
	text-align: left;
}

.align_center {
	text-align: center;
}

.align_right {
	text-align: right;
}

.clickable {
	cursor: pointer;
}

.no_wrap {
	white-space: nowrap;
}

.table_cell, .table_cellclickable {
	white-space: normal;
	text-align: left;
}

.table_cellclickable:hover {
	text-decoration: underline;
}

.sheet_cell {
	padding-left: 0px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 5px;
}

.table_container a {
	text-decoration: none;
}

.hidden {
	display: none;
}

.field_error label {
	color: red;
}

.field_error input,
.field_error textarea,
.field_error select,
.field_error iframe {
	border:1px dashed red;
	background: url(/p4a/icons/default/error.gif) no-repeat bottom right;
}

.field_error .field_error_msg {
	position: absolute;
	color: #777;
	display: none;
	background: white;
	padding: 10px;
	border: 2px solid #4b718a;
}

/*************/
/* HTML TAGS */
/*************/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4B718A;
}

form {
	display: inline;
}

h2 {
	text-align:center;
	font-size: 16px;
}

h2 table td {
	font-size: 16px;
	font-weight: bold;
}

hr {
 	margin-top:10px;
	margin-bottom:10px;
	border-style:solid;
	width:1px;
	height:1px;
}

img {
	display: block;
	border: none;
}

input {
	border: none;
	border: 1px solid;
}

input:focus{
 	border: 1px solid #000000;
	color: #000000;
	background-color: #F0F0F0;
}

textarea {
	border: 1px solid #C6D3DE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#4B718A;
}

textarea:focus {
 	border: 1px solid #000000;
	color: #000000;
	background-color: #F0F0F0;
}

.mceToolbarTop *, .mceToolbar * {
	display:inline;
}

.mceToolbarTop select *, .mceToolbar select * {
	display:block;
}

select {
	border: 1px solid #C6D3DE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#4B718A;
}

#p4a_loading {
	background: red;
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 100;
	padding: 5px;
	float: right;
}

*>#p4a_loading {
	position: fixed;
}

#p4a_loading img {
	float: left;
	margin-right: 10px;
}

#sidebar_right {
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	position: fixed;
	bottom: 10px;
 	right: 0px;
 	top: 0px;
 	height: 6000px !important;
 	height: 100%;
	padding: 10px;
 	z-index: 2;
}

#sidebar_left {
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	position: fixed !important;
	position: absolute;
	bottom: 10px;
 	left: 0px;
 	top: 0px;
 	height: 6000px !important;
 	height: 100%;
	padding: 10px;
 	z-index: 2;
}

div.frame {
	padding: 0px;
}

.row {
	clear: both;
}

.br {
	clear: both;
}

fieldset.frame {
	border: 1px solid #C6D3DE;
	padding: 10px 10px 10px 0px;
}

legend {
	font-weight: bold;
	font-size: 12px;
	margin-left: 10px;
}

/*********/
/* TABLE */
/*********/

.table {
	margin: 5px 20px 0px 2px;
	border-collapse: collapse;
	width: inherit;
}

.table th a {
	margin: 5px;
}

.table th a, .table td a {
	display: block;
}

.table caption{
	font-size: 12px;
	font-weight: bold;
	margin: 5px;
}

.table .select {
	width: 19px;
}

.table td{
	padding: 2px;
	border: 2px solid white;
}

.table td.action {
	background:#fafafa;
}
.table td a {
	display:block;
	width:100%;
}
.table td.integer,
.table td.decimal,
.table td.float,
.table td.date,
.table td.time{
	text-align: right;
	white-space: nowrap;
}

.table_container {
	font-size:8px; /* with &nbsp to solve bug on ie on margin-bottom of table */
}

.table_container .frame{
	border-top: 1px solid #C6D3DE;
	background: #fafafa;
}

.table_container .row{
	background: #fafafa;
}

.accesskey {
	text-decoration: underline;
}

/********************/
/* P4A_DB_Navigator */
/********************/

.p4a_db_navigator {
	text-align: left;
	font-weight: normal;
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

.p4a_db_navigator ul {
	padding-left: 15px;
}

.p4a_db_navigator a, .p4a_db_navigator {
	text-decoration: none;
}

.p4a_db_navigator a:hover {
	text-decoration: underline;
}

.p4a_db_navigator .active_node {
	font-weight: bold;
}

.p4a_db_navigator .hoverclass a {
	color: red;
	font-weight: bold;
}

.p4a_db_navigator .hoverclass li a {
	color: #4B718A;
	font-weight: normal;
}

/*********/
/* POPUP */
/*********/

body.p4a_popup {
	background: #f6f6f6;
	margin-top: 50px;
}

body.p4a_popup #sheetContainer {
	background: white;
	border: 2px solid #4b718a;
	padding-bottom: 20px;
}

body.p4a_popup h2 {
	background: #eee;
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 32px;
	padding-left: 32px;
}

/****************/
/* COLOR PICKER */
/****************/

#colorpicker {
	position: absolute;
	display: none;
	background: white;
	border: 1px solid #C6D3DE;
}

.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(jquery/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(jquery/mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden;
  background: url(jquery/marker.png) no-repeat;
}

/****************/
/* AUTOCOMPLETE */
/****************/

.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 11px;
	overflow: hidden;
}

.ac_over {
	background-color: Highlight;
	color: HighlightText;
}



















/*************************/
/* jQuery UI date picker */
/*************************/

#datepicker_div {
	border: 1px solid #588fa3;
}

.datepicker_control, .datepicker_links {
	display: none;
}

.datepicker_header {
	background: #777;
}

select.datepicker_newMonth, select.datepicker_newYear {
	background: white;
	color: #4b718a;
	font-weight: normal;
}

/***************************/
/* P4A_Widget_Layout_Table */
/***************************/

table.p4a_widget_layout_table {
	border-collapse: collapse;
	margin: 0 auto;
	text-align: left;
}

table.p4a_widget_layout_table td {
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

table.p4a_widget_layout_table td.c1 {
	width: 1px;
	padding-right: 5px;
}

/***********************************/
/* P4A_Message and system messages */
/***********************************/

table.p4a_message td.c2 {
	color: black;
	font-weight: bold;
}

.p4a_system_messages {
	border: 2px solid #588fa3;
	z-index: 10000;
	background: white;
	position: absolute;
	display: none;
	width: 300px;
}

.p4a_system_messages table.p4a_message {
	margin: 10px 20px;
}

.p4a_system_messages table.p4a_message td.c2 {
	font-weight: normal;
}

/**************/
/* P4A_Button */
/**************/

.p4a_button {
	background: none;
	border: 1px solid #fafafa;
	cursor: pointer;
	padding: 0;
	overflow: visible; /* used to fix the IE stretched buttons bug */
}

.p4a_button:hover {
	border: 1px solid #c6d3de;
	background: white;
}

/***************/
/* P4A_Toolbar */
/***************/

.p4a_toolbar_16 button {
	height: 21px;
}

.p4a_toolbar_32 button {
	height: 37px;
}

.p4a_toolbar_48 button {
	height: 53px;
}

/*************/
/* P4A_Label */
/*************/

.p4a_label {
	overflow: visible;
	display: block;
	text-align: left;
	padding: 1px;
	padding-left: 6px;
	background: #fcfcfc;
	border: 1px solid #fafafa;
	cursor: pointer;
	float: left;
	padding-right: 1em;
	width: 100px;
}

.p4a_label_required {
	font-weight: bold;
}

.p4a_label .p4a_tooltip_icon {
	float: right;
}

.p4a_tooltip {
	display: none;
	position: absolute;
	background: white;
	border: 2px solid #4b718a;
	padding: 10px;
	margin-left: 20px;
	text-align: left;
}

/***********************************************************/
/* P4A_Menu                                                */
/* original code by Justin Koivisto - http://www.koivi.com */
/***********************************************************/

#p4a_menu {
	background: #fafafa;
	border-bottom: 1px solid #ccc;
}

.p4a_menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: static;
	z-index: 20;
}

.p4a_menu table.p4a_widget_layout_table {
	margin: 0;
}

.p4a_menu table.p4a_widget_layout_table td.c1 img {
	margin-left: 5px;
}

.p4a_menu .accesskey {
	color: black;
}

.p4a_menu li {
	float: left;
	background: #fafafa;
	display: block;
	color: black;
}

.p4a_menu ul {
	position: absolute;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: none;
	background-color: #fafafa;
	z-index: 40;
	border: 1px solid #ccc;
	width: 120px;
}

.p4a_menu ul li {
	width: 120px;
	margin: 0;
}

.p4a_menu li a, .p4a_menu li div {
	display: block;
	text-decoration: none;
	color: black;
	margin: 0;
	padding: 5px;
}

.p4a_menu a:hover, .p4a_menu li:hover {
	display: block;
	background-color: #e2e7ed;
}

.p4a_menu ul ul{
	display: none;
	margin-top: -2em;
	margin-left: 120px;
}

.p4a_menu li:hover ul ul,
.p4a_menu li:hover ul ul ul,
.p4a_menu li:hover ul ul ul ul,
.p4a_menu li:hover ul ul ul ul ul{
	display:none;
}

.p4a_menu li:hover ul,
.p4a_menu ul li:hover ul,
.p4a_menu ul ul li:hover ul,
.p4a_menu ul ul ul li:hover ul,
.p4a_menu ul ul ul ul li:hover ul{
	display:block;
}