/*   -----------   */
/*   P4A CLASSES   */
/*   -----------   */

* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4B718A;
}

.img_button {
	border: 1px solid #FAFAFA;
	padding-left:3px;
	padding-right:3px;
	padding:3px;
	border:none;
}

.link_button {
	border: 1px solid #FAFAFA;
	display:block;
	text-decoration:none;
	text-align:center;
}

a.link_button:hover {
	border: 1px solid #C6D3DE;
	background:white;
}

.radio {
	border: none;
}

.button {
}

.border {
	border: 1px solid;
}

.border_none {
	border: none;
}

.border_box {
	border: 1px solid #C6D3DE;
}

.color1 {
	color: #C6D3DE;
}

.color2 {
	color: #B8C6D2;
}

.color3 {
	color: #75C3E0;
}

.border_color1 {
	border-color: #C6D3DE;
}

.border_color2 {
	border-color: #B8C6D2;
}

.border_color3 {
	border-color: #75C3E0;
}

.border_color4 {
	border-color: #CCCCCC;
}

.border_color5 {
	border-color: #4B718A;
}

.background_box {
	background-color: #FAFAFA;
}

.background1 {
	background-color: #F4F7FA;
}

.background2 {
	background-color: #E2E7ED;
}

.background3 {
	background-color: #FAFAFA;
}

.background4 {
	background-color: #FcFcFc;
}

.font3 {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica,sans-serif;
	font-weight:bolder;
	color:#588FA3;
}

.font4 {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica,sans-serif;
	font-weight:bolder;
	color: #4B718A;
}

.font_normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#4B718A;
}

.link {
	text-decoration:underline;
	color: #4B718A;
}

.align_left {
	text-align:left;
}

.align_center {
	text-align:center;
}

.align_right {
	text-align:right;
}

.clickable {
	cursor:pointer;
}

.field{
	float:left;
}

.field_container {
	float:left;
}

.no_wrap {
	white-space: nowrap;
}

.overflow {
/* 	overflow: auto; */
}

.label {
	overflow: visible;
	display:block;
	text-align: left;
  	padding:1px;
	padding-left:6px;
	background:#fcfcfc;
	border:1px solid #fafafa;
	cursor:pointer;
/* 	margin-bottom:800px; */
}

.table_cell {
	white-space: normal;
	text-align: left;
}

.table_cell:hover {
	text-decoration: underline;
}

.sheet_cell {
	padding-left: 0px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 5px;
}

/*   ---------   */
/*   HTML TAGS   */
/*   ---------   */

body {
	SCROLLBAR-FACE-COLOR: #C6D3DE;
	SCROLLBAR-HIGHLIGHT-COLOR: #C9CFD6;
	SCROLLBAR-SHADOW-COLOR: #F7F7FF;
	SCROLLBAR-3DLIGHT-COLOR: #F7F7FF;
	SCROLLBAR-ARROW-COLOR: #F7F7FF;
	SCROLLBAR-TRACK-COLOR: #C6D3DE;
	SCROLLBAR-DARKSHADOW-COLOR: #DCEAF9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4B718A;
}

form {
	display: inline;
}

h2 {
	text-align:center;
	font-size: 16px;
}

hr {
 	margin-top:10px;
	margin-bottom:10px;
	border-style:solid;
	width:1px;
	height:1px;
}

img {
	display: block;
}

input {
	border: none;
	border: 1px solid;
}

input:focus{
 	border: 1px solid #000000;
	color: #000000;
	background-color: #F0F0F0;
}

.mainmenuSel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight:bolder;
	font-size: 10px;
	color: #255587;
}

textarea {
	border: 1px solid #C6D3DE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#4B718A;
}

textarea:focus {
 	border: 1px solid #000000;
	color: #000000;
	background-color: #F0F0F0;
}

select {
	border: 1px solid #C6D3DE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#4B718A;
}

/*
select:focus{
	border: 1px solid;
	background-color: #F0F0F0;
}
*/

/*   ----   */
/*   MENU   */
/*   ----   */

.LinkMainMenu:link
{
	font-size: 11px;
    COLOR: #B7C0C9;
    TEXT-DECORATION: none
}

.LinkMainMenu:visited, .LinkMainMenu:active
{
	font-size: 11px;
    COLOR: #B7C0C9;
    TEXT-DECORATION: none
}

.LinkMainMenu:hover
{
	font-size: 11px;
    COLOR: #255587;
    TEXT-DECORATION: none
}

.LinkSecondMenu:link, .LinkSecondMenu:visited, .LinkSecondMenu:active
{
	font-size: 10px;
    COLOR: #255587;
    TEXT-DECORATION: none
}

.LinkSecondMenu:hover
{
	font-size: 10px;
    COLOR: #255587;
    TEXT-DECORATION: underline
}

.LinkCalendarDayMonview
{
	color:red;
	text-decoration:none;
	display:block;
	border:none;
}
.LinkCalendarDayMonview:hover
{
/*	border:1px solid #4B718A;  */
}

.LinkCalendarAppMonview
{
	text-decoration:none;
	display:block;
	background-color:white;
	padding:3px;
}
.LinkCalendarAppMonview:hover
{
	background-color: #F4F7FA;
}
.CalendarTimeAppMonview{
	font-weight:bold;
	font-size:9px;
	font-family:monospace;
}

.CalendarThAppMonview{
	border-color:#4B718A;
}

.CalendarTdAppMonview{
	border-color:#4B718A;
}

.CalendarTdAppMonview:hover{
	background-color:#E2E7ED;
}

.CalendarTableMonview{
	border-collapse:collapse;
}

.navigator {
	margin-left: 0px;
}

.navigator ul {
	margin-left:0px;
	padding-left:15px;
	list-style-position:inside;
}


.navigator a {
	text-decoration:none;
}

.navigator a:hover {
	text-decoration:underline;
}

.navigator .active_node {
	font-weight:bold;
}

dl {
	float:left;
	text-align:center;
}

dl *{
	display:inline;
}

dl, dl *{
	padding:0px;
	margin:0px;
	font-size:10px;
}

dl img {
	vertical-align:middle;
	border:none;
}

dd {
}

dd.dd_inline {
	display:inline;
	margin-left:5px;
}

dd.dd_block {
	display:block;
}

#sidebar {
	border:1px solid #CCC;
	position:fixed;
	top:70px;
	bottom:10px;
 	right:0px;
 	height:600px;
	padding:10px;
	width:280px;
 	z-index:2;
}

div.frame {
	padding:0px;
	margin-left:auto;
	margin-right:auto;
/* 	border:1px solid red; */
}

.row {
	clear:both;
}

div.br{
	clear:both;
	background:red;
}

fieldset {
	border:1px solid #C6D3DE;
	padding-top:10px;
	padding-left:15px;
	padding-right:15px;
	margin:0;
/* 	float:left; */
}

legend {
	font-weight:bold;
	font-size:12px;
}

.message {
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
	text-align: left;
	color: black;
}

.message img {
	float: left;
}

.message div {
	vertical-align: middle;
	display: table-cell;
	color: black;
}

.table {
	margin:5px 20px 10px 2px;
	border-collapse:collapse;
	width:95%;
}
.table caption{
	font-size:12px;
	font-weight:bold;
	margin:5px;
}
.table td{
	padding:2px;
	border:2px solid white;
}
.table_container {
 	float:left;
}
.table_container .frame{
	border-top:1px solid #C6D3DE;
	background:#fafafa;
}

.accesskey {
	text-decoration:underline;
}